### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

## Purchasing Analysis (Total)

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

print(list(purchase_data.columns.values))

['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']

## Player Count

* Display the total number of players

In [2]:

#rename_player = purchase_data.rename (columns = {"SN" : "Total Players"})
#rename_player

Total_Players = purchase_data["SN"]

#purchase_data["Total Players"] = Total_Players
#Total_Players

#total_rows = purchase_data['SN'].value_counts()
#print ("Total Players" , len(total_rows))
#total_rows

total_players = pd.DataFrame({"Total Players":[len(purchase_data['SN'].value_counts())]})
total_players

   Total Players
0            576

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#unique_items = purchase_data['Item Name'].unique()

#len(unique_items)
unique_items = pd.DataFrame({"Number of Unique Items":[len(purchase_data['Item Name'].unique())],
                             "Average Price" : [purchase_data['Price'].mean()],
                             "Number of Purchases" : [purchase_data['Item Name'].count()],
                             "Total Revenue" : [purchase_data['Price'].sum()]})
unique_items

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [33]:
#gender_df = pd.DataFrame({"Total Count":[purchase_data['Gender'].unique()],
                             #"Average Price":[purchase_data['Price'].mean()]})
#gender_df
genders = purchase_data['Gender'].value_counts()
#counts = genders.groupby('Gender')['Purchase ID'].nunique()
#counts
#genders
#gender_demo = pd.DataFrame({"Total Counts" : genders, "Percentage" : counts})
gender_percent = genders / len(Total_Players) * 100
#gender_demo
#Total_Players
gender_percent
gender_data = pd.DataFrame({"Total Counts" : genders, "Percentage of Players" : gender_percent})
gender_data

#dataframe["column"] = dataframe["column"].map("${:,.2f}".format)

                       Total Counts  Percentage of Players
Male                            652              83.589744
Female                          113              14.487179
Other / Non-Disclosed            15               1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [35]:
avg_price = [purchase_data['Price'].mean()]
total_pur_val = genders * avg_price
purc_analysis = pd.DataFrame({"Gender" : genders, "Average Purchase Price" : avg_price,
                              "Total Purchase Value" : total_pur_val})
purc_analysis

ValueError: array length 1 does not match index length 3

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame